*{
    padding: 0;
    margin: 0;
    text-decoration: none;
}
.All{
    width: 50%;
    height: auto;
    justify-self: center;
    border-radius: 5px;
   box-shadow: 2px 2px 10px  black;
   display: flex;

}
.menu{
    height: 100%;
   
    background-color: rgb(61, 61, 138);
}

img{
    position: relative;
    left: 50px;
      
    border-radius: 50%;
}

.main{
    justify-self: center;
    margin-top: 20px;
      background-color: bisque;
      padding: 4px 40px;
      border-radius: 15px;
      text-transform: uppercase;
}
.the_contactes{
   margin-top: 10px;
}
.the_contactes p ,a {
    color: white;
    line-height: 30px;
    margin-left:20px ;
}
.Education p{
    color: white;
    margin-top: 10px;
    text-align: center;
    font-size: 21px;
    margin-bottom: 1px;
}
section{
   color: white; 
   color: rgb(179, 170, 170);
}
.Education{
line-height: 40px;
}

.technique{
   margin-top: 10px;
   text-transform: uppercase;
   color: rgb(223, 223, 108);
   margin-left: 5px;
}
.skills_tecnique{
    line-height: 30px;
}
.skills_tecnique p{
    color: white;
     margin-left: 5px;
}
.content{
    width: 100%;
}
.head{
   display: flex;
     gap: 12px;
     align-items: center;  
    
 /* 
         
 
  font-weight: 600;
  color: #222;
  margin: 24px 0;*/
}
.head::after {
  content: "";
  flex: 1;             
  height: 1px;  
      
  background: #cfcfcf; 
}
